<div class="container">
  <h1>Entrollment Form</h1>
  <form #userform="ngForm">

    <!-- {{userModel | json}}
    <br>
    <hr>
    {{userform.value | json}} -->

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control"  name="name" [(ngModel)]="userModel.name" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" >
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
    </div>
    <div class="form-row">
      
    <div class="form-group col-md-6">
      <label>E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email" #email="ngModel" required email [class.is-invalid]="(email.invalid && email.touched)">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Invalid email</small>
    </div> 

     <div class="form-group col-md-6">
        <label for="">Roll No.</label>
        <input type="number" class="form-control" name="rollno" [(ngModel)]="userModel.rollno" #rollno="ngModel" required [class.is-invalid]="rollno.invalid && rollno.touched">
        <small class="text-danger" [class.d-none]="rollno.valid || rollno.untouched">Invalid Roll no</small>
      </div>
    </div>

     <label>Select Branch</label>
     <div>
        <select name="" class="custom-select" name="branch" [(ngModel)]="userModel.branch" >
          <!-- <option selected>Select Your Branch</option> -->
          <option *ngFor="let b of branch">{{ b }}</option>
        </select>
     </div>
     <br>
      <div class="mb-3">
        <label for="">Hosteller/Day-Scholar</label>
          <div class="form-check">
            <input type="radio" name="acc" class="form-check-input" value="Hosteller" [(ngModel)]="userModel.acc">
            <label for="" class="form-check-label">Hosteller</label> 
          </div>
          <div class="form-check">
            <input type="radio" name="acc" class="form-check-input" value="DaySchoolar" [(ngModel)]="userModel.acc">
            <label for="" class="form-check-label">Day-Scholar</label> 
          </div>
        </div>

        
        <label>Select Year</label>
        <div>
          <select class="custom-select" [(ngModel)]="userModel.year" name="year">
          <!-- <option selected>Year</option> -->
          <option *ngFor="let y of year">{{ y }}</option>
          </select>
       </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">percentage</label>
          <input type="number" class="form-control" pattern="^\d{2}$" name="percent" [(ngModel)]="userModel.percent" #per="ngModel" required [class.is-invalid]="per.invalid && per.touched">
          <small class="text-danger" [class.d-none]="per.valid || per.untouched">Invalid Percentage</small>
        </div>
  
  
       <div class="form-group col-md-6">
        <label for="">Attendence</label>
        <input type="number" class="form-control" pattern="^\d{2}$" name="attendence" [(ngModel)]="userModel.attendence" #attend="ngModel" required [class.is-invalid]="attend.invalid && attend.touched">
        <small class="text-danger" [class.d-none]="attend.valid || attend.untouched">Enter Attendence percent</small>
      </div>
     </div>

    <div class="form-group">
        <label for="">Mobile No.</label>
        <input type="tel" class="form-control" name="mobileNo" pattern="^[6-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" [(ngModel)]="userModel.mobileNo" #no="ngModel" required [class.is-invalid]="(no.invalid && no.touched)|| no.errors" >
        <!-- <small class="text-danger" [class.d-none]="no.valid || no.untouched">Mobile no. is required</small> -->
        <div *ngIf="no.errors && (no.valid || no.untouched)">
              <small class="text-danger" *ngIf="no.errors.required">Phone no is required</small>
              <small class="text-danger" *ngIf="no.errors.pattern">invalid Mobile no.</small>
         </div>
      </div>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="userform.form.invalid">Submit Form</button>
  </form>
</div>